.ember-application {
    margin: 20px;
}

#tables a {
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
}

#tables a:hover {
  background-color: #e6e6e6;
}

#tables .active:hover, .active, h2 span {
  background-color: #333;
  color: white;
}

ul#menu li {
  list-style-type: none;
  text-align: center;
  padding-bottom: 1em;
}

ul#menu li div {
  font-size: 64px;
  line-height: 64px;
}

ul#menu li p {
  font-weight: bold;
  text-transform: uppercase;
}

#customer-tab {
  background-color: #f2f2f2;
  border: 1px solid #e6e6e6;
  padding: 1em 2em;
}

#customer-tab li {
  list-style-type: none;
  border-bottom: 1px solid #ccc;
}

#customer-tab li#total h3 {
  font-weight: bold;
}

#customer-tab li#total {
  border-top: 4px solid black;
  border-bottom: 0;
}

#customer-tab li h3 {
  font-weight: normal;
}

#customer-tab li span {
  float: right;
}

#order {
  border-left: 1px dashed #333;
}

#order h2 {
  text-align: center;
}

h2 span {
  padding: 0.5em 1em;
}

/* Panels ---------------------- */
.panel { background: #f2f2f2; border: solid 1px #e6e6e6; margin: 0 0 22px 0; padding: 20px; color: #008CBA;}
.panel > :first-child { margin-top: 0; }
.panel > :last-child { margin-bottom: 0; }
.panel.callout { background: #2ba6cb; color: #fff; border-color: #2284a1; -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); }
.panel.callout a { color: #fff; }
.panel.callout .button { background: white; border: none; color: #2ba6cb; text-shadow: none; }
.panel.callout .button:hover, .panel.callout .button:focus { background: rgba(255, 255, 255, 0.8); }
.panel.radius { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
